@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  font-family: Poppins;
  font-size: 62.5%;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

body {
  background: linear-gradient(107.56deg, #53DFC2 0%, #38C0C0 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media(max-width: 700px) {
  * {
    font-size: 58%;
  }
}

@media(max-width: 550px) {
  * {
    font-size: 52%;
  }
}

@media(max-width: 480px) {
  * {
    font-size: 42%;
  }
}
